.countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media screen and (max-width: 600px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
